<!DOCTYPE html>
<html>
<head>
    <title>All Accounts</title>
</head>
<body>

<h1>All Accounts</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endwith %}

<table border="1" cellpadding="8">

<tr>
    <th>Account No</th>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Type</th>
    <th>Balance</th>
</tr>

{% for account in accounts %}

<tr>
    <td>{{ account[0] }}</td>
    <td>{{ account[1] }}</td>
    <td>{{ account[2] }}</td>
    <td>{{ account[3] }}</td>
    <td>{{ account[4] }}</td>
    <td>₹{{ account[5] }}</td>
</tr>

{% endfor %}

</table>

<a href="/">Home</a>

</body>
</html>
